.header {
    margin: 0 auto;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
    width: 1200px;
}



.headerRight{
  width: 30%;
}

.nav-links{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 100px;
    cursor: pointer;
    height: 100px;
}

.user__avatar {
    font-size: 2rem;
}
.headerRight input[type="text"] {
    border: none; /* Remove border */
    padding: 12px 20px; /* Increase padding for height and width */
    background-color: transparent; /* Set background color to transparent */
    border-bottom: 1px solid #000; /* Add a bottom border for visual separation */
    font-size: 16px; /* Adjust font size as needed */
    width: 300px; /* Set a specific width */
    color: white; /* Set text color to white */
  }
  
  .headerRight input[type="text"]::placeholder {
    color: #999; /* Set placeholder color */
  }
  .headerRight button {
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    cursor: pointer;
    padding: 12px 24px; /* Increase padding for height and width */
    font-size: 16px; /* Adjust font size as needed */
    color: #fff; /* Set text color to white */
  }
  
  


/* Dropdown */

/* Follow me for more pens like this! */

/* Tweak to change the look and feel */
:root {
    --button-background: rgb(8, 3, 105);
    --button-color: white;
    
    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
  }
  
  /* Center the planet */
  
  /* Boring button styles */
  a.button {
    /* Frame */
    display: inline-block;
    padding: 5px;
    border-radius: 50px;
    box-sizing: border-box;
    
    /* Style */
    border: none;
    background: var(--button-background);
    color: var(--button-color);
    font-size: 24px;
    cursor: pointer;
  }
  
  a.button:active {
    filter: brightness(75%);
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    
    border: none;
  }
  
  .dropdown summary {
    list-style: none;
    list-style-type: none;
  }
  
  .dropdown > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown ul {
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2)  * -1);
    box-sizing: border-box;
    z-index: 2;
    
    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
  }
  
  .dropdown ul li {
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li a:link, .dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    
    color: var(--dropdown-color);
    text-decoration: none;
  }
  
  .dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
  }
  
  /* Dropdown triangle */
.dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.wrapper {
  text-align: center;
  
}
h4 {
  font-weight: 100;
  font-size: 28px;
  margin: 0;
  padding: 8em 0 1em 0;
}
.btn_one {
  text-decoration: none;
  color: white;
  font-weight: 100;
  border: 1px #fbbc05 solid;
  padding: 1em 3em;
  border-radius: 100px;   
}

.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
  
  
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}


/* Dropdown css  */
nav {
  &.primary-navigation {
    display: block;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }

